### Data Types in python
- string str()
- number(integer int(),float,float())
- boolean(True(),False())

In [11]:
# 1. string str()
str1 = 'Dev'
str2 = "python 'and' programming"
# multiline string
str3 = """python 
'24'
programming"""
str4 = '''python programming'''
print(str1)
print(str2)
print(str3)
print(str4)
str5 = f"""this is python file {str1}"""
print(type(str1))
print(str5)

Dev
python 'and' programming
python
'24'
programming
python programming
<class 'str'>
this is python file Dev

In [10]:
str5 = f"""this is python file {str1}"""
print(str5)

this is python file python programming

In [13]:
str6 = "this" "is" "python"
print(len(str6))
print(str6)

12
thisispython

In [1]:
# 2. number(integer int(),float,float())
num1 = 56
print(num1)
print(type(num1))

num2 = 32.5
print(num2)
print(type(num2))

56
<class 'int'>
32.5
<class 'float'>

In [2]:
# 3. boolean(True,False)
b1 = True
b2 = False
print(type(b1))
print(b1+b2)

<class 'bool'>
1

In [ ]:
### Type casting and type conversion. 
# type casting converting one data type inio another by user
# it performs by using
# it preform by using defined

### Type casting

In [1]:
mob_num = 908887867
new_num = str(mob_num)
print(len(new_num))
print(mob_num)
print(type(new_num))

9
908887867
<class 'str'>

In [ ]:
### Type converstion

In [2]:
### Type converstion
num1 = 200
num2 = 2.0
res = num1+num2
print(res)

202.0

In [ ]:
### methods for typecasting
str()
int()
float()
bool()

In [1]:
var1 = 200
var2 = 300
var3 = 100
print(var1)
print(var2)
print(var3)#print(4) error

200
300
100

In [2]:
user_mob = "6261401181"
new_num = int(user_mob)
print(new_num) #print(len(new_num)

6261401181

In [ ]:
# I/O Operation.

### input()
- it take data from user intractively.
- by defoult input () return string data.

In [3]:
num1 = input('enter first number:' )
num2 = input ('enter secondnumber')
total = num1+num2
print(total)

enter first number: 34
enter secondnumber 34

3434

In [4]:
num1 = int(input('enter first number:' ))
num2 = float(input('enter second number'))
total = num1+num2
print(total)

enter first number: 23
enter second number 23.2

46.2

In [5]:
num1 = float(input('enter first number:' ))
num2 = float(input('enter second number'))
total = num1+num2
print(total)

enter first number: 12.2
enter second number 1.3

13.5

In [6]:
num1 =int(input('enter first number:' ))
num2 = int(input('enter second number'))
total = num1+num2
print(total)

enter first number: 23
enter second number 34

57

In [16]:
### operators in python
- 1. arithmatic operator(+,-,**,*,/,//,%)
- 2. comparision operator
- 3. logical operator
- 4. membership operator
- 5. idenitity operator
- 6. assignment operator
- 7. bitwise operator

SyntaxError: invalid syntax (3705605487.py, line 2)

In [8]:
# 1. arithmatic operator
num1 = 5
print(num1**5)

3125

In [9]:
num = 10
num2 = 5
res = num//num2
print(res)

2

In [11]:
num = 10
num2 = 7
res = num%num2
print(res)

3

In [15]:
num = 10
num2 = 7
res = num/num2
print(f"{res:.4f}") # print(int(res))

1.4286

In [17]:
num = 10
num2 = 7
res = num*num2
print(f"{res:.4f}") # print(int(res))

70.0000

In [18]:
num = 10
num2 = 7
res = num+num2
print(f"{res:.4f}") # print(int(res))

17.0000